@page "/department"

@using EHMSWebApp.Interface
@using EHMSModel

@inject IDepartmentService departmentService

<h3 class="text-start">Manage Department</h3>
<div class="mb-3">
    <input type="text" class="form-control" placeholder="Search by Name" @bind="searchQuery" @oninput="OnSearchChange" />
</div>

<div class="text-start mb-3">
    <button class="btn btn-primary" @onclick="OpenAddDialog">Add New Department</button>
</div>

@if (filtereddepartmentDetails != null)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th @onclick='() => SortEmployees("DepartmentName")'>Department Name @GetSortIcon("DepartmentName")</th>
                    <th @onclick='() => SortEmployees("CreatedAt")'>Created At @GetSortIcon("CreatedAt")</th>
                    <th @onclick='() => SortEmployees("UpdatedAt")'>Updated At @GetSortIcon("UpdatedAt")</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in pageddepartmentDetails)
                {
                    <tr>
                        <td>@employee.DepartmentName</td>
                        <td>@employee.CreatedAt</td>
                        <td>@employee.UpdatedAt</td>
                        <td>
                            <button class="btn btn-warning" @onclick="() => OpenEditDialog(employee)">Edit</button>
                            <button class="btn btn-danger" @onclick="() => ShowDeleteDialog(employee.DepartmentId)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between">
        <button class="btn btn-secondary" @onclick="PrevPage" disabled="@(currentPage == 1)">Previous</button>
        <span>Page @currentPage of @totalPages</span>
        <button class="btn btn-secondary" @onclick="NextPage" disabled="@(currentPage == totalPages)">Next</button>
    </div>
}

@if (showAddEditDialog)
{
    <div class="modal fade show" style="display:block; background-color: rgba(0, 0, 0, 0.9);" tabindex="-1" aria-labelledby="fitnessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fitnessModalLabel">@((isEdit ? "Edit" : "Add New") + " Physical Fitness")</h5>
                    <button type="button" class="btn-close" @onclick="CloseDialog" aria-label="Close"></button>
                </div>
                <EditForm Model="@currentDepartmentDetails" OnValidSubmit="SaveDepartment">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="empId" class="form-label">Department Name</label>
                            <InputText id="empId" @bind-value="currentDepartmentDetails.DepartmentName" class="form-control"  />
                            <ValidationMessage For="@(() => currentDepartmentDetails.DepartmentName)" />
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Cancel</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}


<DeleteConfirmation Show="@showDeleteDialog"
                    Title="Delete Department"
                    Message="Are you sure you want to delete this record?, if yes please update employee record"
                    OnDeleteConfirmed="HandleDeleteConfirmed"
                    OnCancel="CloseDeleteDialog"
                    ItemId="@deleteRecordId" />