@page "/request-help-employee"
@using EHMSWebApp.Interface
@using EHMSModel

@inject IRequestForHelpService requestForHelpService
@inject IEmployeeService employeeService
@inject AuthenticationStateProvider authenticationStateProvider

@if (UserRoles.Any(role => role == (int)UserRole.Employee))
{
    <h3 class="text-start">Request For Help By Employee</h3>
}
else
{
    <h3 class="text-start">Request For Help By HR </h3>
}


<div class="mb-3">
    <input type="text" class="form-control" placeholder="Search by Employee, Request Details, Status" @bind="searchQuery" @oninput="OnSearchChange" />
</div>

@if (UserRoles.Any(role => role == (int)UserRole.Employee))
{
    <div class="text-start mb-3">
        <button class="btn btn-primary" @onclick="OpenAddDialog">Add New Request For Help</button>
    </div>
}


@if (filteredrequestForHelp != null)
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th @onclick='() => Sort("EmployeeName")'>Employee @GetSortIcon("EmployeeName")</th>
                    <th @onclick='() => Sort("RequestDetails")'>Request Details @GetSortIcon("RequestDetails")</th>
                    <th @onclick='() => Sort("Status")'>Status @GetSortIcon("Status")</th>
                    <th @onclick='() => Sort("CreatedAt")'>CreatedAt @GetSortIcon("CreatedAt")</th>
                    <th @onclick='() => Sort("RespondedStatus")'>RespondedStatus @GetSortIcon("RespondedStatus")</th>
                    <th @onclick='() => Sort("RespondedAt")'>RespondedAt @GetSortIcon("RespondedAt")</th>
                    @if (UserRoles.Any(role => role == (int)UserRole.HR))
                    {
                        <th>Actions</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in pagedrequestForHelp)
                {
                    <tr>
                        <td>@employee.EmployeeName</td>
                        <td>@employee.RequestDetails</td>
                        <td>@employee.Status</td>
                        <td>@employee.CreatedAt</td>
                        <td>@employee.RespondedStatus</td>
                        <td>@employee.RespondedAt</td>
                        <td>
                            @if (UserRoles.Any(role => role == (int)UserRole.HR))
                            {
                                <button class="btn btn-warning" @onclick="() => OpenEditDialog(employee)">Edit</button>
                            }
                            @if (UserRoles.Any(role => role == (int)UserRole.Employee) &&   (employee.EmpId == EmpId))
                            {
                                <button class="btn btn-danger" @onclick="() => DeletePhysicalFitness(employee.RequestForHelpId)">Delete</button>
                            }
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between">
        <button class="btn btn-secondary" @onclick="PrevPage" disabled="@(currentPage == 1)">Previous</button>
        <span>Page @currentPage of @totalPages</span>
        <button class="btn btn-secondary" @onclick="NextPage" disabled="@(currentPage == totalPages)">Next</button>
    </div>
}


@if (showAddEditDialog)
{
    <div class="modal fade show" style="display:block; background-color: rgba(0, 0, 0, 0.9);" tabindex="-1" aria-labelledby="fitnessModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fitnessModalLabel">@((isEdit ? "HR" : "Employee") + " Request for Help")</h5>
                    <button type="button" class="btn-close" @onclick="CloseDialog" aria-label="Close"></button>
                </div>
                <EditForm Model="@currentrequestForHelp" OnValidSubmit="SavePhysicalFitness">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="empId" class="form-label">Employee</label>
                            <InputText id="empId" @bind-value="employeeWithRoleDetails.EmployeeDetails.EmployeeName" class="form-control" disabled="true" />
                        </div>
                        @if (isEdit)
                        {
                            <div class="mb-3">
                                <label for="weight" class="form-label">HR Responce</label>
                                <InputTextArea id="weight" @bind-value="currentrequestForHelp.RespondedStatus" class="form-control" />
                                <ValidationMessage For="@(() => currentrequestForHelp.RespondedStatus)" />
                            </div>
                            <div class="mb-3">
                                <label for="empId" class="form-label">Select Status</label>
                                <InputSelect @bind-value="currentrequestForHelp.Status" class="form-control">
                                    <option value="Active">Active</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Completed">Completed</option>
                                </InputSelect>
                                <ValidationMessage For="@(() => currentrequestForHelp.Status)" />
                            </div>
                        }
                        else
                        {
                            <div class="mb-3">
                                <label for="weight" class="form-label">Request Details</label>
                                <InputTextArea id="weight" @bind-value="currentrequestForHelp.RequestDetails" class="form-control" />
                                <ValidationMessage For="@(() => currentrequestForHelp.RequestDetails)" />
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="CloseDialog">Cancel</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
